In [9]:
import pandas as pd
import numpy as np

In [10]:
from sklearn.datasets import fetch_california_housing
housing = fetch_california_housing()
housing
housing["feature_names"]

['MedInc',
 'HouseAge',
 'AveRooms',
 'AveBedrms',
 'Population',
 'AveOccup',
 'Latitude',
 'Longitude']

In [11]:
housing_df = pd.DataFrame(housing["data"], columns=housing["feature_names"])
housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [12]:
housing_df.shape

(20640, 8)

In [13]:
housing_df["target"] = pd.Series(housing["target"])

In [14]:
housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [73]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split

np.random.seed(42)

X = housing_df.drop("target", axis=1)
y = housing_df["target"]

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [74]:
model = Ridge()
model.fit(X_train,y_train)
model.score(X_test, y_test)

0.5758549611440131

In [25]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.8064286765714386

In [80]:
heart = pd.read_csv("Data/heart-disease.csv")
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [84]:
X = heart.drop("target", axis=1)
y = heart["target"]

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [92]:
from sklearn.ensemble import RandomForestClassifier

np.random.seed(42)

clf = RandomForestClassifier()
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.819672131147541

In [93]:
clf.predict_proba(X_test)

array([[0.76, 0.24],
       [0.03, 0.97],
       [0.46, 0.54],
       [0.97, 0.03],
       [0.98, 0.02],
       [0.87, 0.13],
       [0.22, 0.78],
       [0.74, 0.26],
       [0.95, 0.05],
       [0.74, 0.26],
       [0.23, 0.77],
       [0.25, 0.75],
       [0.27, 0.73],
       [0.18, 0.82],
       [0.71, 0.29],
       [0.8 , 0.2 ],
       [0.28, 0.72],
       [0.27, 0.73],
       [0.82, 0.18],
       [0.15, 0.85],
       [1.  , 0.  ],
       [0.29, 0.71],
       [0.76, 0.24],
       [0.7 , 0.3 ],
       [0.32, 0.68],
       [0.95, 0.05],
       [0.66, 0.34],
       [0.56, 0.44],
       [0.22, 0.78],
       [0.15, 0.85],
       [0.75, 0.25],
       [0.43, 0.57],
       [0.27, 0.73],
       [0.06, 0.94],
       [0.95, 0.05],
       [0.07, 0.93],
       [0.55, 0.45],
       [0.86, 0.14],
       [0.79, 0.21],
       [0.05, 0.95],
       [0.  , 1.  ],
       [0.89, 0.11],
       [0.04, 0.96],
       [0.01, 0.99],
       [0.26, 0.74],
       [0.9 , 0.1 ],
       [0.06, 0.94],
       [0.96, 0.04],
       [0.4 , 0.6 ],
       [0.54, 0.46],
       [0.22, 0.78],
       [0.93, 0.07],
       [0.52, 0.48],
       [0.33, 0.67],
       [0.26, 0.74],
       [0.48, 0.52],
       [0.54, 0.46],
       [0.83, 0.17],
       [0.55, 0.45],
       [0.25, 0.75],
       [0.47, 0.53]])