In [15]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import OneHotEncoder as ohe

In [2]:
car_sales = pd.read_csv("Data/car-sales-extended.csv")
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [5]:
X = car_sales.drop("Price", axis=1)
y = car_sales["Price"]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [11]:
car_sales["Colour"].unique()

array(['White', 'Blue', 'Red', 'Green', 'Black'], dtype=object)

In [12]:
car_sales.shape

(1000, 5)

In [16]:
ohe

sklearn.preprocessing._encoders.OneHotEncoder

In [17]:
print(ohe)

<class 'sklearn.preprocessing._encoders.OneHotEncoder'>