In [1]:
import pandas as pd
import numpy as np

In [9]:
car_sales = pd.read_csv("data/cars-ext-missing.csv")

In [10]:
car_sales.shape

(1000, 5)

In [11]:
car_sales.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [15]:
car_sales["Make"].fillna("missing", inplace = True)
car_sales["Colour"].fillna("missing", inplace = True)      
car_sales["Odometer (KM)"].fillna(car_sales['Odometer (KM)'].mean(), inplace=True)
car_sales["Doors"].fillna(4, inplace=True)

In [19]:
car_sales.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [25]:
car_sales.dropna(subset=['Price'], inplace=True)

In [26]:
car_sales.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64